.header {
    width: 100%;
    height: 7rem;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding-inline: 2rem;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10;
}

.header nav {
    width: 100%;
    max-width: 140rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.header nav a img {
    width: 7rem;
    height: auto;
}

.header nav .my_list {
    text-decoration: none;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #fff;
    background-color: #c60339;
    border-radius: 0.4rem;
    padding: 0.6rem 1.2rem;
    transition: all 230ms linear;
}

.header nav .menu__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #fff;
    background-color: #c60339;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    gap: 1rem;
    cursor: pointer;
}

.header nav .menu__button span {
    display: none;
}

@media (min-width: 500px) {
    .header {
        height: 9rem;
    }

    .header nav a img {
        width: 8rem;
        height: auto;
    }

    .header nav .my_list {
        font-size: 1.8rem;
        padding: 0.8rem 1.6rem;
    }
}

@media (min-width: 900px) {
    .header nav .menu__button {
        padding: 0.4rem;
    }

    .header nav .menu__button span {
        display: block;
        padding-left: 0.4rem;
    }
}

@media (hover: hover) {
    .header nav .my_list:hover {
        background-color: #f26463;
    }

    .header nav .menu__button:hover {
        background-color: #f26463;
    }
}
