*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
}

*::selection {
    background-color: #c60339;
    color: #fff;
}
