.mylist__page {
    margin-top: 7rem;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mylist__page h3 {
    text-align: center;
}

@media (min-width: 500px) {
    .mylist__page {
        margin-top: 9rem;
    }
}
