.list__page {
    margin-top: 7rem;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.list__page .btn__container {
    display: flex;
    justify-content: center;
}

@media (min-width: 500px) {
    .list__page {
        margin-top: 9rem;
    }
}
