.list__section {
    max-width: 140rem;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

.list__section h2 {
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.list__section .list__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 2rem;
}

.list__section .list__container h4 {
}
