.form {
    max-width: 40rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    width: 100%;
    height: 4rem;
    padding-inline: 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.4rem 0 0 0.4rem;
}

.form button {
    width: 4rem;
    height: 100%;
    border: none;
    background-color: #fff;
    border-radius: 0 0.4rem 0.4rem 0;
}
